<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="conrainer text-center">
        <ul class="row nav nav-tabs nav-tabs-justified">
            <li class="col-xs-4 btn-default" ng-click="jump('/m')">
                <a href="" class="glyphicon glyphicon-home">
                    <br>
                    首页
                </a>
            </li>
            <li class="col-xs-4 btn-default" ng-click="jump('/house')">
                <a href="" class="glyphicon glyphicon-list-alt">
                    <br>
                    订单
                </a>
            </li>
            <li class="col-xs-4 btn-default" ng-click="jump('/c')">
                <a href="" class="glyphicon glyphicon-user">
                    <br>
                    我的
                </a>
            </li>
        </ul>
    </div>
</footer>