<!-- 注册页 register -->
<div>
    <div ng-include="'tpl/loginHeader.html'"></div>
    <h1 class="text-center">
        注册页
    </h1>
    <div>
        <div class="marginLR30">
            <a href="" class="btn btn-default btn-block" ng-click="jump('/d')">手机注册</a>
        </div>
        <div class="marginLR30">
            <a href="" class="btn btn-default btn-block" ng-click="jump('/k')">用户注册</a>
        </div>
        <div class="marginLR30">
            <a href="" class="btn btn-default btn-block" ng-click="jump('/j')">店铺注册</a>
        </div>
    </div>
</div>